*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: gray;
}

header ul {
    list-style: none;
}

header a {
    margin: 1rem;
    text-decoration: none;
}

header:first-child {
    font-variant: small-caps;
    margin-right: 10rem;
}
